# Ignore Python virtual environment
ragvenv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and database files
*.log
*.sqlite3

# Ignore Docker-related files
docker-compose.override.yml
docker-compose.override.yaml
*.env

# Ignore IDE/editor settings
.vscode/
.idea/
*.swp
*.swo
*.bak

# Ignore system files
.DS_Store
Thumbs.db
